#virus4,img
              {
                 height:20px;
                 width:20px;
                 padding-top:1px;
				 display:inline;
				 float:left;
				
               }
			  a
					{
					position:relative;
					left:848px;
					margin:20px;
					text-decoration:none;
					color:gray;
					font-size:13px;
					}
					
			     #header
				      {
					  border:px solid black;
					  }s 
			   