body
{
	
	background-color:white;
}

  #pic1
              {
                 height:18px;
                 width:18px;
                 padding-top:3px;
				 display:inline;
				 float:left;
				
               }


		    a
					{
					position:relative;
					left:899px;
					margin:13px;
					text-decoration:none;
					color:gray;
					font-size:13px;
					}
					
#head
	      {
		  border:2px solid red;
		  height:24px;
		  width:1340px;
		  margin-top:0px;
		  }
					  
#pic2
       {
		   height:300px;
		   width:1340px;
		   border:2px solid black;
		   
		}					  


#div3
     {
	   border:2px solid red;
       height:340px;
       width:1340px;
	  
          
	 }
      
#p1
   {
	
	font-size:35px;
	margin-top:160px;
	margin-left:160px;
	font-family:Calibri;
	float:left;
	
	
	}
u
{
	text-decoration-color:yellow;
		
}

#p2
{
	margin-left:500px;
	margin-top:160px;
	text-align:left;
}














	  
	  
	  
	  
	  
	  
	  